<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cadastroPro.css">
</head>

<div id="conteudo">
        <header>
            <h1>Cadastrar Produtos</h1>
        </header>
        <div id="forms">
            <form action="/vendedor/cadastroproduto" method="post" id="form">
                <div class="inputNome">
                    <input type="text" name="nome" placeholder="Nome do Veículo" required>
                </div>

                <div class="inputPreco">
                    <input type="number" name="preco" placeholder="Preço do Veículo" step="000.01" required>
                </div>

              </div>
               <a href="/vendendor/loja"> <button type="submit" id="button">Cadastrar</button></a>
               <a href="/cliente/loja">VOLTAR</a>
            </form>
        </div>
    </div>